@import 'style/theming';

.mobile-only {
  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }
}

.topbar {
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3.2rem;
  padding: 0 .4rem;
  z-index: 30;

  @include themed() {
    color: t(foreground-color);
    border-bottom: 1px solid t(border-color);
    background: t(topbar-background-color);
  }

  @media screen and (min-width: 600px) {
    width: auto;
    padding: 0;
  }

  &__branding {
    display: none;
    place-items: center;
    cursor: pointer;

    width: $menu-width;
    // border-right: 1px solid #dedede;

    @media screen and (min-width: 600px) {
      display: grid;
    }
  }

  &__logo {
    height: 2.5rem;
    width: 6rem;
    object-fit: contain;
  }

  &__main {
    display: flex;
    align-items: center;
    column-gap: 1em;
    flex-grow: 1;

    padding: 0 .2rem;

    @media screen and (min-width: 600px) {
      padding: 0 1.5rem;
    }
  }

  &__icons {
    display: flex;
    margin-left: auto;
    fill: gray;

    column-gap: .2rem;
  }
}
