@import 'style/theming';

.template {
  @include themed() {
    color: t(foreground-color-alt);
    background: t(body-color);
  }

  &__main {
    display: flex;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;

    @media screen and (min-width: 1024px) {
      width: 0;
    }
  }

  &__notice {
    color: #fff;
    background: blue;
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
  }

  &__view {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    padding: 1rem;

    @media screen and (min-width: 600px) {
      padding: 1.5rem;
    }
  }

  &__feedback-button {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
    padding: .4rem 1.4rem;
    border: 1px solid green;
    background: #9f9;
  }
}
