@import 'style/theming';

.menu {
  position: sticky;
  top: 3.2rem;
  left: 0;
  width: $menu-width;
  height: calc(100vh - 3.2rem);

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: 1rem;

  padding: 1rem 0;
  z-index: 20;

  overflow: hidden;
  user-select: none;

  @include themed() {
    border-right: 1px solid t(border-color);
    color: t(foreground-color);
    background: t(background-color);

    :deep(svg) {
      width: 1.3rem;
      fill: t(foreground-color);
    }
  }

  &--hidden {
    width: 0;

    @media screen and (min-width: 600px) {
      width: 4rem;
      row-gap: 0;

      ::-webkit-scrollbar {
        width: 0 !important;
      }

      :deep([role=icon]) {
        justify-content: center;
      }

      :deep(.header__info),
      :deep([role=icon-label]) {
        display: none;
      }

      :deep(.header__picture) {
        width: 3rem;
        height: 3rem;
      }

      .menu__header,
      .menu__entries {
        width: auto;
        padding: 0 .5rem;
      }
    }
  }

  &__entries {
    width: $menu-width;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 0 1rem;
    margin-top: 1rem;
  }

  &__entry {
    display: flex;
    flex-direction: column;
    row-gap: .2rem;

    @include themed() {
      &:not(:last-child) {
        padding-bottom: .6rem;
        border-bottom: 1px solid t(border-color);
      }
    }
  }

  &__entry-title {
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    column-gap: .1rem;

    :deep(svg) {
      opacity: .6;
    }

    &--shrinked {
      :deep(svg) {
        transform: rotate(180deg);
      }
    }
  }

  &__routes {
    &--shrinked {
      display: none;
    }
  }

  &__route {
    column-gap: .5rem;
    padding: .3rem .5rem;

    border: 1px solid transparent;
    border-radius: 5px;
    white-space: nowrap;

    @include themed() {
      &--current {
        border-color: t(border-color);
        background: t(body-color);
        // background: #2060fa;
      }

      &:hover {
        background: t(background-color-alt);
      }
    }
  }

  &__route-title {
    white-space: nowrap;
    // opacity: .8;
  }
}
