.notfound {
  display: grid;
  place-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    background: #fff;
  }

  &__big {
    font-size: 2rem;
  }
}
