$picture-size: 3.6rem;

.header {
  display: flex;
  width: 15em;
  padding: 0 1em;
  column-gap: 1rem;

  &__picture {
    width: $picture-size;
    height: $picture-size;

    border: 1px solid #dedede;
    border-radius: 10px;
    overflow: hidden;

    transition: filter .35s;
    cursor: pointer;

    display: grid;
    place-items: center;
    font-size: 1.6rem;

    &:active {
      filter: brightness(.8);
    }
  }

  &__info-name {
    font-weight: bold;
  }
}

