@import 'style/theming';

.breadcumb {
  display: flex;
  place-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &__link {
    text-decoration: none;

    @include themed() {
      color: t(foreground-color-alt);
    }

    &:not(:last-child):after {;
      content: '/';
      margin: 0 .4em;
    }

    &:first-child {;
      opacity: .6;
    }
  }
}
