@import 'style/theming';

@mixin selected {
  background: #eee;
}

.icon {
  display: flex;
  line-height: 100%;

  :deep(svg) {
    width: 100%;
    height: 100%;
  }

  @include themed() {
    fill: t(foreground-color);

    &--alt {
      fill: t(foreground-color-alt);
    }
  }

  &--selected {
    @include selected;
  }

  &--reactive {
    padding: 4px;
    border-radius: 5px;

    &:hover {
      @include selected;
    }

    &:active {
      background: #ccc;
    }
  }

  &--centered {
    align-items: center;
    column-gap: .3rem;
  }

  &__icon {
    &--small {
      width: 16px;
    }

    &--medium {
      width: 25px;
    }
  }
}
